[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
opencv-python = "*"
torch = "*"
gym = "*"
box2d = "*"
matplotlib = "*"
make = "*"
atari-py = "*"
pygame = "*"
selenium = "*"
pynput = "*"
pre-commit = "*"
stable-baselines = "*"
tensorflow = "==1.14.0"
click = "*"

[dev-packages]

[requires]
python_version = "3.7"
